<% if (user) { %>
  <a href="/dashboard">Dashboard</a>
  <a href="/insights">Insights</a>
  <a href="/profile">Profile</a>
  <a href="/doctor">Doctor</a>
  <a href="/logout">Logout</a>
<% } else { %>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
<% } %>